body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	background: #FEFEFE url("../img/patterns/1337.png");
	width: 100%; height: 100%;
	color: #000;
}

#container {
	width: inherit; height: inherit;
	margin: 0 auto;
	position: absolute; /* necessário para max-heigth: % do #lista_feeds e #lista_feaders */
}

header { background-color: #0E0E0E;	overflow: hidden; }
	
	#logout {
		float: right;
		margin: 5px 20px 5px 5px;
		display: block;
		color: #FFF;
	}
		
		#logout a {	text-decoration: none; color: #DDD;	}
		#logout a:hover { color: #FFF; }

img, input[type="image"] { width:25px; height:25px; float:right; margin: 2.5px 15px; }
img:hover, input[type="image"]:hover { cursor:pointer; }

input:not([type="image"]) { width:300px; }

a {
	text-decoration: none;
	font-size: 12px;
	color: #000;
}

/* border-radius: */
button,
#lista_feeds,
#lista_feaders,
#restore-feeds,
#search-form,
#adicionar-feader,
#form-adicionar-feader,
.feed_header:hover,
.feader_header:hover,
#login,
#register {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.a { background: #fffff3; }
.b { background: #F8F0E2; }

#bar, #lista_feeds {
	margin: 10px;
	overflow: hidden;
}

#bar {
	overflow:hidden;
	height:46px;
	width: 546px;
	margin: 10px auto;
}

#restore-feeds,
#search-form {
	float: right;
	margin-left: 10px;
	background-color: rgba(90, 90, 90, 0.8);
}

	#search-form { padding: 10px; width: 340px; }
	
		#search-form #button-search { margin: 0; }

	#restore-feeds { padding: 14px 8px 12px 8px; width: 150px; }
	
	#restore-feeds:hover { background-color: rgb(150, 150, 150); }

		#restore-feeds a {
			color: #FFF;
			margin: 20px 0;
		}

#lista_feaders {
	width:300px;
	float:left;
	margin: 0 10px;
}
	
	#lista_feaders form { background-color: rgba(90, 90, 90, 0.8); }
	
	#lista_feaders form input:not([type="image"]) {
		width: 220px;
		margin: 5px;
	}
	
	#lista_feaders form input[type="image"] {
		margin: 5px 15px 0 0;
	}

	.feader_header { overflow: visible; }

#lista_feeds {}

#lista_feaders,
#lista_feeds {
	border: #D8D0C2 solid 1px;
	overflow: auto;
	height: 87%;
	background-color: rgba(255, 255, 255, 1);
}

	.feed {}
		
		.feed_header { overflow: auto; }
		
		.feed_header,
		.feader_header {
			border: #D8D0C2 solid 1px;
			height: 30px;
		}
		
		.feed_header:hover,
		.feader_header:hover {
			background: rgb(245, 247, 173);
			cursor: pointer;
		}

			.feader_title,
			.feed_title
			{
				font-size: 14px;
				float: left;
				text-align: left;
				margin: 6px 5px 6px 5px;
			}

			.feed_date,
			.feed_feader_title {
				float: right;
				font-size: 10px;
				margin: 6px 10px auto 0;
				background-color: rgba(250, 250, 0, 0.1);
			}
						
			.feed_content {
				background: #fff;
				padding: 5px;
				text-align: left;
				border: #AAA solid 1px;
			}			
		
/* --- Login + Register --- */

#login,
#register {
	background-color: #F8F0E2;
	border: #D8D0C2 solid 1px;
	text-align: center;
	overflow: visible;
	margin: 20% auto 0;
}

#login { width: 400px; }
#register { width: 470px; }

#login button,
#register button {
	margin-bottom: 10px;
}

#login .uniForm .ctrlHolder,
#register .uniForm .ctrlHolder {
	padding: 10px;	
}

#login .uniForm .ctrlHolder label,
#login .uniForm .ctrlHolder input,
#register .uniForm .ctrlHolder label,
#register .uniForm .ctrlHolder input {
	display:inline;
} 

#login .uniForm .ctrlHolder label,
#register .uniForm .ctrlHolder label { 
	text-align: left;
	float: left;
	margin: 10px 10px 0 0;
	vertical-align: middle;
}

#login .uniForm .ctrlHolder input,
#register .uniForm .ctrlHolder input {
	float: right;
	/*width: 300px;*/
}