<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset=utf-8>

        <title>Feed Reader</title>

        {% block meta %}
        <meta name="keywords" content="keywords, here" />
        <meta name="description" content="your description here" />
        {% endblock meta %}

        {% block script %}
        <script src="{{ MEDIA_URL }}js/modernizr-1.1.min.js"></script><!-- this is the javascript allowing html5 to run in older browsers -->
        <script src="{{ MEDIA_URL }}js/jquery.js"></script>
        <script src="{{ MEDIA_URL }}js/script.js"></script>
        <script src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
        {% endblock script %}

        {% block style %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen" title="html5doctor.com Reset Stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}uni_form/uni-form.css">
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}uni_form/default.uni-form.css">
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen" />
        {% endblock style %}
    </head>
    <body>
        <div id='container'>
            {% block body %}
                <!-- body -->
            {% endblock body %}
        </div>
    </body>
</html>
