{% extends 'base.html' %}

{% block body %}

<header>
	<div id="logout">
		{{ user }} | <a href="/logout/">Logout</a>
	</div>
</header>

<section id='lista_feaders'>

        <form action="{% url feed_reader_app.views.adiciona_feader %}" method="POST"> {% csrf_token %}
            <input id='url_entry' type="url" placeholder="Insira a URL aqui" name='url_feader' id='url_feader' autofocus /><!-- autofocus -->
            <input type="image" src="{{ MEDIA_URL }}img/icons/add1.png" alt="Adicionar">
            <!-- <button id='button' type='submit'>Adicionar</button> -->
        </form>

    {% if feaders %}

        {% if feaders|length > 1 %}
        <div class="feader">
            <div class="feader_header a">
                <span class="feader_title">
                    <a href="{% url feed_reader_app.views.lista_feeds %}">Todos</a>
                </span>
                <a href="{% url feed_reader_app.views.refresh_feeds %}">
                    <img src="{{ MEDIA_URL }}img/icons/view-refresh.png">
                </a>
            </div>
        </div>
        {% endif %}

        {% for feader in feaders %}
        <div class="feader">
            <div class="feader_header {% cycle 'b' 'a' %}">
                <span class="feader_title">
                    <!-- <a href="{% url feed_reader_app.views.lista_feeds feader.id %}">{{ feader.title }}</a> -->
                    <a href="{{ feader.get_absolute_url }}">{{ feader.title }}</a>
                </span>
                {% if feaders|length = 1 %}
                <a href="{% url feed_reader_app.views.refresh_feeds %}">
                    <img src="{{ MEDIA_URL }}img/icons/view-refresh.png">
                </a>
                {% endif %}
                <a href="{% url feed_reader_app.views.remove_feader feader.id %}">
                    <img src="{{ MEDIA_URL }}img/icons/application-exit1.png">
                </a>
            </div>
        </div>
        {% empty %}
        <div class="feader">
            <div class="feader_header {% if feaders %}b{% else %}a{% endif %}">
                <span class="feader_title">Não há URLs cadastradas</span>
            </div>
        </div>
        {% endfor %}

    {% endif %}

</section>

<!-- <form method='' id="search-form"> -->
<span id="search-form">
   	<input id='search' type="search" />
  	<input id="button-search" type="image" src="{{ MEDIA_URL }}img/icons/system-search.png" alt="Procurar">
</span>
<!-- </form> -->

<span id="restore-feeds"><a href="{% url feed_reader_app.views.restore_excl_feeds %}">Restaurar Feeds</a></span>

<section id='lista_feeds'>

    {% for feed in feeds|dictsortreversed:"date" %}
    <div class="feed" id="{{ feed.id }}">
        <div class="feed_header {% cycle 'b' 'a' %}">

            <img src="{{ MEDIA_URL }}img/icons/remove1.png">

            <span class="feed_title">{{ feed.title|striptags }}</span>
            <span class="feed_date">{{ feed.date }}</span>
            <span class="feed_feader_title">{{ feed.feader }}</span>
        </div>

        <div class="feed_content">{{ feed.content|safe }}</div>
    </div>
    {% endfor %}

</section>

{% endblock body %}
